<h1>Editing recipe step</h1>

<%= render "form", recipe_step: @recipe_step %>

<br>

<div>
  <%= link_to "Show this recipe step", @recipe_step %> |
  <%= link_to "Back to recipe steps", recipe_steps_path %>
</div>
