<div id="<%= dom_id recipe %>">
  <p>
    <strong>Nom:</strong><br />
    <%= recipe.title %>
  </p>

  <% if recipe.description.present? %>
    <p>
      <strong>Description:</strong><br />
      <%= recipe.description %>
    </p>
  <% end %>

  <%= image_tag(recipe.image, class: "img-responsive") if recipe.image.attached? %>
</div>
